.about{
    position: relative;
    background-color: #4A3139;
    text-align: center;
    color: white;
    border-radius: 3rem;
    margin: 2rem;
    margin-top: 20rem;
    border: 5px;
    border-style: solid;
    border-color: black;
}


.text{
    color: white;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: left;
}

.text p {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 65%;
}

.text img{
    position: absolute;
    height: 15rem;
}

.text ul{
    list-style-type: square;
}

.text li{
    margin-left: 2rem;
}

@media (max-width:500px) { 
    .about{
    margin-top: 0px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-right: 12px;
    }
    
    .text{
        text-align: center;
        margin: auto;
    }

    .text p{
        width: 100%;
    }

    .text ul{
        list-style: none;
    }

    .text li{
        margin: auto;
    }
    .text img{
        visibility: hidden;
    }
}